:root {
    --primary-color: #2F4A60;
    --secondary-color: #CAB29F;
    --tertiary-color: #7DA1BF;
    --fourth-color: #B0D2DA;
}

body {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    color: var(--primary-color);
    background-color: pink;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.button-menu {
    width: 1rem;
    cursor: pointer;

}

.menu {
    padding: 1rem;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: -1.5rem;
}

a {
    text-decoration: none;
    text-underline: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

table {
    border-collapse: collapse;
}

table thead {
    color: white;
    background-color: var(--primary-color);
}

table th, table td {
    border: 1px solid var(--primary-color);
    padding: 8px;
}

tbody tr {
    background-color: var(--fourth-color);
}

tbody tr:nth-child(even) {
    background-color: var(--tertiary-color);
}

tbody tr:hover {
    cursor: pointer;
    background-color: var(--fourth-color);
}

/*TODO .link-button*/

form {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input {
    width: 240px;
}

ul {
    padding: 0;
    margin: 0;
    width: 248px;
}

li {
  list-style: none;
}

li p {
    margin: 0;
}

textarea {
    resize: none;
}

.svg-primary {
    fill: var(--primary-color);
}

.svg-primary:hover {
    fill: var(--secondary-color);
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}