:root {
    --primary-color: #2F4A60;
    --secondary-color: #CAB29F;
    --tertiary-color: #7DA1BF;
    --fourth-color: #B0D2DA;
}

html {
    font-family: Candara, serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    color: var(--primary-color);
    background-color: pink;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    left: 0;
    top: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: relative;
}

.logo {
    width: 2rem;
}

.button-menu {
    width: 1rem;
    cursor: pointer;
}

.menu {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 1.5rem;
    bottom: 0.75rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}

a {
    text-decoration: none;
    text-underline: none;
    color: var(--secondary-color);
}

a:hover {
    color: var(--tertiary-color);
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
}

table {
    width: 75%;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
}

table thead {
    color: white;
    background-color: var(--primary-color);
}

table th, table td {
    border: none;
    padding: 8px;
}

tbody tr {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

/*TODO .link-button*/

form {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input {
    width: 240px;
}

ul {
    padding: 0;
    margin: 0;
    width: 248px;
}

li {
  list-style: none;
}

li p {
    margin: 0;
}

textarea {
    resize: none;
}

.retour {
    display: flex;
    margin: 1rem auto;
}

.svg-primary {
    fill: var(--secondary-color);
}

.svg-primary:hover {
    fill: var(--tertiary-color);
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}