<form th:fragment="form(membre, type)"
      method="post"
      th:object="${membre}">
    <div class="label-input">
        <label>Nom</label>
        <input type="text" th:field="*{Nom}" disabled/>
    </div>
    <div class="label-input">
        <label>Prénom</label>
        <input type="text" th:field="*{Prenom}" disabled/>
    </div>
    <div class="label-input">
        <label>Pseudo</label>
        <input type="text" th:field="*{Pseudo}" />
    </div>
    <span class="error" th:errors="*{Pseudo}"></span>
    <div class="label-input">
        <label>Admin</label>
        <input type="checkbox" th:field="*{admin}" />
    </div>
    <button type="submit">
        Valider
    </button>
</form>