<form th:fragment="form(film, isReadOnly)">
    <div class="label-input">
        <label for="genre">Genre :</label>
        <input type="text" id="genre" name="genre" th:value="${film.genre.Titre}" th:disabled="${isReadOnly}">
    </div>
    <div class="label-input">
        <label for="annee">Année :</label>
        <input type="text" id="annee" name="annee" th:value="${film.Annee}" th:disabled="${isReadOnly}">
    </div>
    <div class="label-input">
        <label for="titre">Titre :</label>
        <input type="text" id="titre" name="titre" th:value="${film.Titre}" th:disabled="${isReadOnly}">
    </div>
    <div class="label-input">
        <label for="realisateur">Réalisateur :</label>
        <input type="text" id="realisateur" name="realisateur" th:value="${film.realisateur}" th:disabled="${isReadOnly}">
    </div>
    <div class="label-input">
        <label for="duree">Durée :</label>
        <input type="text" id="duree" name="duree" th:value="${film.Duree}" th:disabled="${isReadOnly}">
    </div>
    <div class="label-input">
        <label for="acteurs">Acteur(s) :</label>
        <ul id="acteurs">
            <li th:each="acteur : ${film.listeParticipant}">
                <p th:text="|${acteur.Prenom} ${acteur.Nom}|"></p>
            </li>
        </ul>
    </div>
    <div class="label-input">
        <label for="synopsis">Synopsis :</label>
        <textarea id="synopsis" name="synopsis" rows="5" cols="30" th:field="${film.Synopsis}" th:disabled="${isReadOnly}"></textarea>
    </div>
    <button th:if="${!isReadOnly}">Valider</button>
</form>