<form th:fragment="form(participant, type)"
      method="post"
      th:object="${participant}">
    <div class="label-input">
        <label>Nom</label>
        <input type="text" th:field="*{Nom}" />
    </div>
    <span class="error" th:errors="*{Nom}"></span>
    <div class="label-input">
        <label>Prénom</label>
        <input type="text" th:field="*{Prenom}" />
    </div>
    <span class="error" th:errors="*{Prenom}"></span>
    <button type="submit">
        Valider
    </button>
</form>