<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Filmothèque</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
</head>
<body>
    <header>
        <nav>
            <h1>Filmothèque</h1>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="button-menu svg-primary" onclick="openMenu()">
                <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
            </svg>
        </nav>
        <div id="menu" class="menu hidden">
            <a href="/">Accueil</a>
            <a href="/films">Films</a>
        </div>
    </header>

    <h2>Détails du film</h2>

    <form>
        <div class="label-input">
            <label for="genre">Genre :</label>
            <input type="text" id="genre" name="genre" th:value="${film.genre.Titre}" th:disabled="${isUpdate == false} ? true : false">
        </div>
        <div class="label-input">
            <label for="annee">Année :</label>
            <input type="text" id="annee" name="annee" th:value="${film.Annee}" th:disabled="${isUpdate == false} ? true : false">
        </div>
        <div class="label-input">
            <label for="titre">Titre :</label>
            <input type="text" id="titre" name="titre" th:value="${film.Titre}" th:disabled="${isUpdate == false} ? true : false">
        </div>
        <div class="label-input">
            <label for="realisateur">Réalisateur :</label>
            <input type="text" id="realisateur" name="realisateur" th:value="${film.realisateur}" th:disabled="${isUpdate == false} ? true : false">
        </div>
        <div class="label-input">
            <label for="duree">Durée :</label>
            <input type="text" id="duree" name="duree" th:value="${film.Duree}" th:disabled="${isUpdate == false} ? true : false">
        </div>
        <div class="label-input">
            <label for="acteurs">Acteur(s) :</label>
            <ul id="acteurs">
                <li th:each="acteur : ${film.listeParticipant}">
                    <p th:text="|${acteur.Prenom} ${acteur.Nom}|"></p>
                </li>
            </ul>
        </div>
        <div class="label-input">
            <label for="synopsis">Synopsis :</label>
            <textarea id="synopsis" name="synopsis" rows="5" cols="30" th:field="${film.Synopsis}" th:disabled="${isUpdate == false} ? true : false"></textarea>
        </div>
    </form>
</body>
</html>