<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Genres</title>
</head>
<body>

<main layout:fragment="content">
    <h2>Modifier un genre</h2>
    <a href="/genres" class="link-button">Liste des genres</a>

    <form method="post"
          th:object="${genre}"
          th:action="@{|/genreUpdate/${id}|}">
        <div class="label-input">
            <label>Titre</label>
            <input type="text" th:field="*{Titre}" />
        </div>
        <span class="error" th:errors="*{Titre}"></span>
        <button type="submit">
            Valider
        </button>
    </form>
</main>

</body>
</html>